{
  "mcpServers": {
    "puppeteer": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "--init", "-e", "DOCKER_CONTAINER=true", "mcp/puppeteer"]
    },
    "gitlab": {
      "command": "docker",
      "args": [
        "run",
        "-e",
        "GITLAB_PERSONAL_ACCESS_TOKEN",
        "mcp/gitlab"
      ],
      "env": {
      }
    },
    "sequentialthinking": {
      "command": "docker",
      "args": [
        "run",
        "--rm",
        "-i",
        "mcp/sequentialthinking"
      ]
    },
    "memory": {
      "command": "docker",
      "args": ["run", "-i", "--rm", "mcp/memory"]
    },
    "git": {
      "command": "docker",
      "args": [
        "run",
        "--rm",
        "-i",
        "--mount", "type=bind,src=/Users/abby/code/dotfiles,dst=/projects/code/dotfiles",
        "--mount", "type=bind,src=/Users/abby/code/sre_scripts,dst=/projects/code/sre_scripts",
        "mcp/git"
      ]
    },
    "filesystem": {
      "command": "docker",
      "args": [
        "run",
        "-i",
        "--rm",
        "--mount", "type=bind,src=/Users/abby/code/dotfiles,dst=/projects/code/dotfiles",
        "--mount", "type=bind,src=/Users/abby/code/sre_scripts,dst=/projects/code/sre_scripts",
        "--mount", "type=bind,src=/Users/abby/code/ai_projects/test_mcp_server,dst=/projects/code/ai_projects/mcp_server",
        "--mount", "type=bind,src=/Users/abby/code/ai_projects/general_helper,dst=/projects/code/ai_projects/general_helper",
        "mcp/filesystem",
        "/projects"
      ]
    }
  }
}
