<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gtd.checkin-suggestions</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>__DOTFILES_DIR__/bin/gtd-generate-checkin-suggestions</string>
    </array>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>StandardOutPath</key>
    <string>__HOME_DIR__/Documents/gtd/checkin_suggestions.log</string>
    
    <key>StandardErrorPath</key>
    <string>__HOME_DIR__/Documents/gtd/checkin_suggestions_error.log</string>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:__HOME_DIR__/code/dotfiles/bin</string>
    </dict>
    
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>

